In [1]:
#import dependencies
import pandas as pd
from sqlalchemy import create_engine
import secret

In [2]:
#create dataframe from NFL_arrests csv file
csv_file = "NFL_arrests.csv"
arrests_data_df = pd.read_csv(csv_file)
arrests_data_df.head()

,DATE,TEAM,NAME,POSITION,CASE,CATEGORY,DESCRIPTION,OUTCOME
0,3/27/2017,SEA,Trevone Boykin,QB,Arrested,Drugs,"Accused of marijuana possession, public intoxi...",Resolution undetermined.
1,3/26/2017,CHI,Deiondre Hall,CB,Arrested,Disorderly conduct,"Accused of disorderly conduct, public intoxica...",Resolution undetermined.
2,3/26/2017,GB,Makinton Dorleant,CB,Arrested,Police interference,Accused of interfence after scuffle outside of...,Resolution undetermined.
3,3/7/2017,KC,Demetrius Harris,TE,Arrested,Drugs,Suspected of felony marijuana possession as pa...,Resolution undetermined.
4,3/5/2017,LAR,Ethan Westbrooks,DT,Arrested,Domestic violence,Suspected of domestic violence in Sacramento a...,Resolution undetermined.

In [3]:
#choose columns that wanted from the original dataframe
nfl_arrests_df = arrests_data_df[['NAME', 'DATE', 'CASE', 'CATEGORY']].copy()
nfl_arrests_df.head()

                NAME       DATE      CASE             CATEGORY
0     Trevone Boykin  3/27/2017  Arrested                Drugs
1      Deiondre Hall  3/26/2017  Arrested   Disorderly conduct
2  Makinton Dorleant  3/26/2017  Arrested  Police interference
3   Demetrius Harris   3/7/2017  Arrested                Drugs
4   Ethan Westbrooks   3/5/2017  Arrested    Domestic violence

In [4]:
#Rename columns
nfl_arrests_df = nfl_arrests_df.rename(columns={"DATE": "offense_date",
                                                "NAME": "player",
                                                "CASE": "outcome",
                                                "CATEGORY": "charge"})
nfl_arrests_df.head()

              player offense_date   outcome               charge
0     Trevone Boykin    3/27/2017  Arrested                Drugs
1      Deiondre Hall    3/26/2017  Arrested   Disorderly conduct
2  Makinton Dorleant    3/26/2017  Arrested  Police interference
3   Demetrius Harris     3/7/2017  Arrested                Drugs
4   Ethan Westbrooks     3/5/2017  Arrested    Domestic violence

In [5]:
#Clean nfl_arrests_df
print(nfl_arrests_df.dtypes)
print(nfl_arrests_df.shape)
print(nfl_arrests_df.isna().sum())
#(nfl_arrests_df[nfl_arrests_df.duplicated()])
(nfl_arrests_df['player'][nfl_arrests_df['player'].duplicated()])
nfl_arrests_df.drop_duplicates(subset = 'player', keep = 'first', inplace = True)
(nfl_arrests_df['player'][nfl_arrests_df['player'].duplicated()])

player          object
offense_date    object
outcome         object
charge          object
dtype: object
(850, 4)
player          0
offense_date    0
outcome         0
charge          0
dtype: int64

Series([], Name: player, dtype: object)

In [6]:
nfl_arrests_df.head()

              player offense_date   outcome               charge
0     Trevone Boykin    3/27/2017  Arrested                Drugs
1      Deiondre Hall    3/26/2017  Arrested   Disorderly conduct
2  Makinton Dorleant    3/26/2017  Arrested  Police interference
3   Demetrius Harris     3/7/2017  Arrested                Drugs
4   Ethan Westbrooks     3/5/2017  Arrested    Domestic violence

In [7]:
#create dataframe from .json file
json_file = "profiles.json"
profiles_df = pd.read_json(json_file)
profiles_df.head()

,birth_date,birth_place,college,current_salary,current_team,death_date,draft_position,draft_round,draft_team,draft_year,height,high_school,hof_induction_year,name,player_id,position,weight
0,1967-05-12,"Bay City, TX",Baylor,None,None,None,34.0,2.0,Seattle Seahawks,1990.0,6-0,"Van Vleck, TX",NaN,Robert Blackmon,1809,DB,208.0
1,1970-07-20,"Louisville, KY",Kentucky,None,None,None,85.0,4.0,Seattle Seahawks,1993.0,6-3,"Holy Cross, KY",NaN,Dean Wells,23586,LB,248.0
2,1990-08-14,"Newton, MA",Oregon,"1,075,000",Miami Dolphins,None,46.0,2.0,Buffalo Bills,2013.0,6-3,"Los Gatos, CA",NaN,Kiko Alonso,355,ILB,238.0
3,1948-04-22,"Dallas, TX",North Texas,None,None,1999-10-15,126.0,5.0,New Orleans Saints,1970.0,6-2,"W.W. Samuell, TX",NaN,Steve Ramsey,18182,QB,210.0
4,1988-02-27,"Neptune, NJ",Miami (FL),None,None,None,NaN,NaN,None,NaN,6-0,"Neptune, NJ",NaN,Cory Nelms,16250,CB,195.0

In [8]:
nfl_profiles_df = profiles_df[['name', 'high_school', 'college', 'draft_team']].copy()
nfl_profiles_df.head()

              name       high_school      college          draft_team
0  Robert Blackmon     Van Vleck, TX       Baylor    Seattle Seahawks
1       Dean Wells    Holy Cross, KY     Kentucky    Seattle Seahawks
2      Kiko Alonso     Los Gatos, CA       Oregon       Buffalo Bills
3     Steve Ramsey  W.W. Samuell, TX  North Texas  New Orleans Saints
4       Cory Nelms       Neptune, NJ   Miami (FL)                None

In [9]:
#rename columns in nfl_profiles_df
nfl_profiles_df = nfl_profiles_df.rename(columns={"high_school": "hometown",
                                                "name": "player",})
nfl_profiles_df.head()

            player          hometown      college          draft_team
0  Robert Blackmon     Van Vleck, TX       Baylor    Seattle Seahawks
1       Dean Wells    Holy Cross, KY     Kentucky    Seattle Seahawks
2      Kiko Alonso     Los Gatos, CA       Oregon       Buffalo Bills
3     Steve Ramsey  W.W. Samuell, TX  North Texas  New Orleans Saints
4       Cory Nelms       Neptune, NJ   Miami (FL)                None

In [10]:
#Clean nfl_profiles_df further
print(nfl_profiles_df.dtypes)
print(nfl_profiles_df.shape)
print(nfl_profiles_df.isna().sum())
#(nfl_arrests_df[nfl_arrests_df.duplicated()])

player        object
hometown      object
college       object
draft_team    object
dtype: object
(25043, 4)
player            0
hometown       1154
college         150
draft_team    10002
dtype: int64

In [11]:
#Clean data for nfl_profiles_df to get rid of na values
nfl_profiles_df['college'].fillna("not available", inplace=True)
nfl_profiles_df['draft_team'].fillna("not drafted", inplace=True)
nfl_profiles_df['hometown'].fillna("not available", inplace=True)

In [12]:
#Continue cleaning process of nfl_profiles_df dataframe
print(nfl_profiles_df.isna().sum())
(nfl_profiles_df[nfl_profiles_df.duplicated()])
#no duplicates found and all na values have been filled

player        0
hometown      0
college       0
draft_team    0
dtype: int64

Empty DataFrame
Columns: [player, hometown, college, draft_team]
Index: []

In [13]:
#duplicate players removed from the profile section
nfl_profiles_df.drop_duplicates(subset = 'player', keep = 'first', inplace = True)

In [14]:
engine = create_engine(f"postgresql://postgres:{secret.user_pass}@localhost:5432/nfl_etl")
connection = engine.connect()

In [15]:
engine.table_names()

['nfl_profiles', 'nfl_arrests']

In [48]:
#Uploaded dataframe to SQL table
nfl_arrests_df.to_sql(name='nfl_arrests', con=engine, if_exists='append', index=True)

In [51]:
#Uploaded dataframe to SQL table
nfl_profiles_df.to_sql(name='nfl_profiles', con=engine, if_exists='append', index=True)

In [16]:
#Query to inner join tables from database and based on player name
query = "select nfl_arrests.player, nfl_arrests.offense_date, nfl_arrests.outcome, nfl_arrests.charge, nfl_profiles.hometown,nfl_profiles.college, nfl_profiles.draft_team From nfl_arrests Inner Join nfl_profiles ON nfl_arrests.player = nfl_profiles.player"

In [17]:
combined_nfl_stats = pd.read_sql(query, connection)

In [18]:
# Dataframe created from combining 2 tables from a SQL query
combined_nfl_stats.head()

,player,offense_date,outcome,charge,hometown,college,draft_team
0,Mike Williams,2010-11-19,Arrested,DUI,"H.B. Plant, FL",USC,Detroit Lions
1,Victor Riley,2002-11-18,Arrested,DUI,"Swansea, SC",Auburn,Kansas City Chiefs
2,Braylon Edwards,2010-09-21,Arrested,DUI,"Bishop Gallagher, MI",Michigan,Cleveland Browns
3,Joe Lefeged,2013-06-29,Arrested,Gun,"Northwest, MD",Rutgers,not drafted
4,Rolando McClain,2013-04-21,Arrested,Disorderly conduct,"Decatur, AL",Alabama,Oakland Raiders

In [19]:
#Top 10 chools in this dataframe with most NFL players arrested
combined_nfl_stats['college'].value_counts().head(10)

Florida          18
Georgia          15
Ohio St.         15
Miami (FL)       15
USC              14
Michigan         12
West Virginia    11
Washington       10
Tennessee        10
Texas            10
Name: college, dtype: int64