In [1]:
#import dependencies
import pandas as pd
from sqlalchemy import create_engine
import secret

ModuleNotFoundError: No module named 'secret'

In [ ]:
#create dataframe from NFL_arrests csv file
csv_file = "NFL_arrests.csv"
arrests_data_df = pd.read_csv(csv_file)
arrests_data_df.head()

In [ ]:
#choose columns that wanted from the original dataframe
nfl_arrests_df = arrests_data_df[['NAME', 'DATE', 'CASE', 'CATEGORY']].copy()
nfl_arrests_df.head()

In [ ]:
#Rename columns
nfl_arrests_df = nfl_arrests_df.rename(columns={"DATE": "offense_date",
                                                "NAME": "player",
                                                "CASE": "outcome",
                                                "CATEGORY": "charge"})
nfl_arrests_df.head()

In [ ]:
#Clean nfl_arrests_df
print(nfl_arrests_df.dtypes)
print(nfl_arrests_df.shape)
print(nfl_arrests_df.isna().sum())
#(nfl_arrests_df[nfl_arrests_df.duplicated()])
(nfl_arrests_df['player'][nfl_arrests_df['player'].duplicated()])
nfl_arrests_df.drop_duplicates(subset = 'player', keep = 'first', inplace = True)
(nfl_arrests_df['player'][nfl_arrests_df['player'].duplicated()])

In [ ]:
nfl_arrests_df.head()

In [ ]:
#create dataframe from .json file
json_file = "profiles.json"
profiles_df = pd.read_json(json_file)
profiles_df.head()

In [ ]:
nfl_profiles_df = profiles_df[['name', 'high_school', 'college', 'draft_team']].copy()
nfl_profiles_df.head()

In [2]:
#rename columns in nfl_profiles_df
nfl_profiles_df = nfl_profiles_df.rename(columns={"high_school": "hometown",
                                                "name": "player",})
nfl_profiles_df.head()

NameError: name 'nfl_profiles_df' is not defined

In [3]:
#Clean nfl_profiles_df further
print(nfl_profiles_df.dtypes)
print(nfl_profiles_df.shape)
print(nfl_profiles_df.isna().sum())
#(nfl_arrests_df[nfl_arrests_df.duplicated()])

NameError: name 'nfl_profiles_df' is not defined

In [4]:
#Clean data for nfl_profiles_df to get rid of na values
nfl_profiles_df['college'].fillna("not available", inplace=True)
nfl_profiles_df['draft_team'].fillna("not drafted", inplace=True)
nfl_profiles_df['hometown'].fillna("not available", inplace=True)

NameError: name 'nfl_profiles_df' is not defined

In [11]:
#Continue cleaning process of nfl_profiles_df dataframe
print(nfl_profiles_df.isna().sum())
(nfl_profiles_df[nfl_profiles_df.duplicated()])
#no duplicates found and all na values have been filled

player        0
hometown      0
college       0
draft_team    0
dtype: int64

Empty DataFrame
Columns: [player, hometown, college, draft_team]
Index: []

In [50]:
#duplicate players removed from the profile section
nfl_profiles_df.drop_duplicates(subset = 'player', keep = 'first', inplace = True)

In [16]:
engine = create_engine(f"postgresql://postgres:{secret.user_pass}@localhost:5432/nfl_etl")
connection = engine.connect()

In [30]:
engine.table_names()

['nfl_profiles', 'nfl_arrests']

In [38]:
len(nfl_arrests_df['player'].unique())

640

In [48]:
#Uploaded dataframe to SQL table
nfl_arrests_df.to_sql(name='nfl_arrests', con=engine, if_exists='append', index=True)

In [51]:
#Uploaded dataframe to SQL table
nfl_profiles_df.to_sql(name='nfl_profiles', con=engine, if_exists='append', index=True)

In [52]:
#Query to inner join tables from database and based on player name
query = "select nfl_arrests.player, nfl_arrests.offense_date, nfl_arrests.outcome, nfl_arrests.charge, nfl_profiles.hometown,nfl_profiles.college, nfl_profiles.draft_team From nfl_arrests Inner Join nfl_profiles ON nfl_arrests.player = nfl_profiles.player"

In [55]:
combined_nfl_stats = pd.read_sql(query, connection)

In [56]:
# Dataframe created from combining 2 tables from a SQL query
combined_nfl_stats.head()

,player,offense_date,outcome,charge,hometown,college,draft_team
0,Mike Williams,2010-11-19,Arrested,DUI,"H.B. Plant, FL",USC,Detroit Lions
1,Victor Riley,2002-11-18,Arrested,DUI,"Swansea, SC",Auburn,Kansas City Chiefs
2,Braylon Edwards,2010-09-21,Arrested,DUI,"Bishop Gallagher, MI",Michigan,Cleveland Browns
3,Joe Lefeged,2013-06-29,Arrested,Gun,"Northwest, MD",Rutgers,not drafted
4,Rolando McClain,2013-04-21,Arrested,Disorderly conduct,"Decatur, AL",Alabama,Oakland Raiders

In [62]:
combined_nfl_stats['college'].count()

534